@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #020617, #4c1d95, #020617);
    background-attachment: fixed;
}

.slider {
    -webkit-appearance: none;
    height: 100%;
    background: transparent;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    min-height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../src/assets/slide_icon.svg");
}
#root {
    min-height: 100vh;
}